/* standart */
ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul {
    list-style: none;
}

* {
    text-decoration: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* body */
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    color: #434455;
}


/* container */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


/* header */
.head-top {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08)
}

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1158px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

.navigation-top {
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.logo-top {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.link-top {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.link-top:hover,
.link-top:focus {
    color: #404BBF;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.current {
    color: #404bbf;
}

.current::after {
    display: block;
    content: "";
    position: relative;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    margin-top: 20px;
    border-radius: 2px;
    background: var(--OCEAN, #404BBF);
    position: absolute;
}



.contacts {
    font-style: normal;
}

.contact-info {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.adress-link {
    color: #434455;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus,
.adress-link:active {
    color: #404BBF
}

.tagline-button {
    padding: 188px 0;
    background-color: #2E2F42;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.tagline {
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

.white {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
}

.feature-list-items {
    width: calc((100% - 72px) /4);
}

.container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}

.info-section {
    font-family: Roboto;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.content-info {
    background: #FFF;

}

.contents {
    font-family: Roboto;
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.specialists-title {
    font-family: Roboto;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-link-section {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-section:hover,
.social-link-section:focus {
    background-color: #404bbf;
}

.icon-section-three {
    fill: #f4f4fd;
}

.content-name {
    font-family: Roboto;
    font-weight: 500;
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.content-text {
    font-family: Roboto;
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.our-portfolio-img {
    position: relative;
    overflow: hidden;
}

.our-portfolio-top {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-basis: calc((100% - 72px) / 4);
}

.section-portfolio {
    background: #FFF;
    padding: 120px 0 120px 0
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    justify-content: center;
}

.project-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.content-text-portfolio {
    font-family: Roboto;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
    row-gap: 48px;
}

.product-name {
    font-family: Roboto;
    color: #2E2F42;
    font-weight: 500;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.list-conteiner {
    padding: 32px 0;

}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .our-portfolio-top,
.portfolio-list-item:focus .our-portfolio-top {
    transform: translateY(0%);
}

.list-item {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.section-footer {
    background-color: #2E2F42;
    padding: 100px 0;
    display: flex;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
    display: inline-block;
}

.text-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #F4F4FD;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.54px;
}

.text-footer {
    font-family: "Roboto", sans-serif;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    text-transform: none;
    letter-spacing: 0.02em;
    box-sizing: border-box;
    max-width: 264px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}


.footer-container-logo-text {
    margin-right: 120px;
    align-items: flex-start;
}

.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}


.footer-list {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;

}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-container-social-links {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    width: 208px;
    color: rgb(67, 68, 85);
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 80px;
    margin-bottom: 16px; 
}

.subscribe-content {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: 80px;
    margin-bottom: 16px; 
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-label {
    gap: 24px;
}

.footer-input {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 2;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1 solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    margin-left: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0 0.15));
    border: 1px solid #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-button {
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    min-width: 165px;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    border-radius: 4px;
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-button:hover,
.footer-button:focus {
    background-color: #404BBF;
}

.footer-button-icon {
    fill: #f4f4fd;
    margin-left: 16px;
}

/* modal */

.backdrop-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    flex-direction: column;
    display: flex;
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    margin: auto;
    align-items: center;
  
}

.modal-close {
    position:absolute;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-icon-close:hover,
.modal-icon-close:focus {
    fill: #ffffff;
}

.order-processing {
    color:#2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.order-wraper {
    margin-bottom: 8px;
}

.backdrop-label {
    color: #8E8F99;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.backdrop-input {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;
}

.form-input:focus+.backdrop-items {
    fill: #4D5AE5;
} 
.backdrop-items {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill:#2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.form-input:focus + .backdrop-items{
    stroke: #2E2F42;
    fill: #4D5AE5;
}

.order-comment {
    margin-bottom: 16px;
}

.textarea-comment:focus {
    border-color: #4D5AE5;
}

.textarea-comment {
    width: 100%;
    height: 120px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.form-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    color:  #4D5AE5;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    cursor: pointer;
    fill: transparent;
   
}

.service-checkbox:checked+.checkbox-label>.form-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-text {
    color: #4D5AE5;
    line-height: 1;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.comment-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    margin: auto;
    margin-top: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-btn:hover
.comment-btn:focus {
    background-color: #404BBF;
    border: none;
}